{
  "manifest_version": 3,
  "name": "EchoGrid",
  "version": "1.0",
  "description": "Google Spreadsheets Extension !",
  "permissions": [
  "activeTab",
  "tabs",
  "storage",
  "identity",
  "alarms",
  "scripting"
],
"host_permissions": [
  "https://sheets.googleapis.com/*","https://docs.google.com/spreadsheets/*"
],
"oauth2": {
  "client_id": "client_id",
  "scopes": ["https://www.googleapis.com/auth/spreadsheets"]
},
  "action": {
    "default_popup": "popup.html"
  },
  "background": {
    "service_worker": "background.js"
  },
  "content_scripts": [
  {
    "matches": ["https://docs.google.com/spreadsheets/*"],
    "js": ["content.js"]
  }
  ],
  "options_ui": {
    "page": "options.html",
    "open_in_tab": true
  },
  "web_accessible_resources": [
    {
      "resources": ["images/*"],
      "matches": ["<all_urls>"]
    }
  ],
  "devtools_page": "devtools.html"
}
